/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    min-height: 100%;
    position: relative;   
    background-color: #E6E6E6;
}

.main-content {
    padding-bottom: 8em;
    margin: 20px auto;
}

a {
    color: #8DC63F;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.selected {
    color: #456048;
}

h3 {
    color: #666666; 
    margin-bottom: 1.5rem;
}

input[type="submit"] {
    background-color: #8DC63F;
    border-color: #8DC63F;
    color: white;
    font-family: 'Titillium Web', HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white; 
}

input[type="submit"]:hover {
    background-color: #456048;
    color: white;
    border-color: #456048;
}




/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Header */

h1 {
    font-weight: 200;
    font-size: 30px;
    letter-spacing: -2px;
    color: #8DC63F;
    padding-top: 14px;
    text-align: center;
    line-height: 1;
}

#head-styling {
    color: #B3B3B3;
}

#header a {
    text-align: center;
}

#header {
    background-color: white;
    padding: 16px 0 0;
    box-shadow: 0px 1px 4px 0px #CCCCCC;
/*    margin-bottom: 20px;*/
}

#header nav ul,
#work-nav ul {
/*    margin: 20px 0 0;*/
    text-align: center;
}

#header nav ul {
    margin-bottom: 0;
}

#header nav ul li,
#work-nav nav ul li {
    display: inline-block;
}

#header nav ul li a,
#work-nav nav ul li a{    
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    padding: .2em;
}

/*work-nav buttons*/

#work-nav nav ul li a {
    font-weight: 400;
    font-size: 16px;
    padding: .6em .8em .6em;
    text-transform: none;
    border-color: #8DC63F;
    line-height: 14px;
}

#work-nav nav ul li a:hover {
    border-color: #456048;
}

nav ul label {
    font-size: 20px;
    color: #666666;
}

a.button {
    background-color: #8DC63F;
    color: white;
}

a.button:hover {
    background-color: #456048;
    color: white;
    border-color: #456048;
}



input[type="reset"] {
    border-color: #8DC63F;
}

input[type="reset"]:hover {
    border-color: #456048;
}

#header .columns div {
    text-align: center;
/*    min-width: 100%;*/
    margin-left: 0;
}

/*Contact page*/

#contact-info a {
    text-transform: none;
    font-weight: 600;
}

#contact-info p {
    margin-bottom: .8em;
}

.error {
    background-color: red;
    padding: 0 8px;
    border-radius: 8px;
    margin: 0 0 10px 10px;
    color: white;
    font-size: 12px;
    opacity: 0;
}

#successMessage,
#failureMessage {
    padding: 25px;
    color: white;
    border-radius: 25px;
    margin-bottom: 20px;
}

#successMessage p,
#failureMessage p {
    margin: 0;
}

#successMessage h3,
#failureMessage h3 {
    color: white;
}

#successMessage {
    background-color: #8DC63F;
}

#failureMessage {
    background-color: #C61712;
}








/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer {
    background-color: white;
    box-shadow: 0px -1px 4px 0px #CCCCCC;
    position: absolute;
    bottom: 0;
    height: 8em;
    margin-top: 2em;
    width: 100%;
}

#footer nav {
    text-align: center;
}

#footer nav ul {
    margin-bottom: 0;
}

#footer nav ul li{
    display: inline-block;
    margin-bottom: 0;
}

#footer nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: .4em .4em .4em 0;    
}

#footer p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    color: #B2B2B2;
}

#footer a {
    display: inline-block;
    padding: .4em 0 .4em .4em;    
}

#icons {
    text-align: center;
    
}

#icons a {
    text-align: center;
    padding: .6em 0 .4em .2em;
    width: 30px;
/*    height: 4;*/
}
 

 

#footer a img {
    max-width: 80%;
/*    opacity: .9;*/
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .3s ease-in-out;
}

#footer a img:hover {
/*    opacity: 1;*/
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.1);
}

/* Work Section */

#newspaper-design {
    background-image: url(../images/newspaper.jpg);
}

#logo-design {
    background-image: url(../images/logo.jpg);
}

#promo-design {
    background-image: url(../images/promo.jpg);
}

#web-design {
    background-image: url(../images/web.jpg);
}


/* Link Divs */

.work-link {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    margin-bottom: 20px;
    background-position: center;
}

a.fill-div {    
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    z-index: 1;
    background-color: #E6E6E6;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

/* transition styles */

.work-link h2 {
    color: #8DC63F;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    width: 60%;
    margin-left: 20%;
    bottom: 120px;
    left: 0px;
    opacity: 0;
    transition: all .35s ease-in-out;
}

.work-link p {
    color: #4C4C4C;
    text-align: center;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    top: 166px;
    opacity: 0;
    text-transform: none;
    font-weight:300;
    line-height: 19px;
    transition: all .35s ease-in-out;
}

.work-link:hover h2 {
    opacity: 1;
    transform: translateY(-10px);
}

.work-link:hover p {
    opacity: 1;
    transform: translateY(-10px);
}

.work-link:hover a.fill-div {
    opacity: 1;
}


/* About Page */


.work-image img {   
/*    position: relative;*/
    width: 100%;
/*    height: 300px;*/
    size: cover;
    background-position: center;
}

.work-image p {
    color: #666666;
    text-align: center;
    text-transform: none;
}


#about {
    padding-top: -20px;
}

#about-image img {
    width: 100%;
}

#about-h2 {
    color: #666666;
}

h3 {
    font-weight: 600;
    text-align: left;
    font-size: 32px;
}

#about-text p {
    color: #666666;
}

/*Responsive*/

@media (min-width: 550px) {
    #footer nav {
        text-align: left;
    }
    #icons {
        text-align: right;
    }
}


/* Larger than mobile */
@media (min-width: 700px) {
    .logo a img {
        text-align: left;
    }
    
    #header a {
        text-align: inherit;
    }

    #header nav ul {
        text-align: right;
        margin: 36.5px 0;
        line-height: 16px;
    }
    #header nav ul li a {
        font-size: 16px;
        text-align: right;
    }
    h1 {
        text-align: left;  
        font-size: 30px;
        margin: 29.5px 0;
        padding-top: 0;
        margin-left: 20px;
    }
    #about-h3 h3 {
    text-align: right;
    }
    #header .columns div  {
    text-align: inherit;
    }
}

@media (min-width: 880px) {
    h1 {
        font-size: 40px;
        margin: 24.5px 0;
    }
        #header nav ul li {
/*        margin: 34.5px 0;*/
        line-height: 20px;
/*        font-size: 20px;*/
    }
    #header nav ul li a {
        font-size: 20px;
        text-align: right;
    }
}

@media (min-width: 1000px) {
    #header nav ul li {
/*        margin: 34.5px 0;*/
        line-height: 20px;
/*        font-size: 20px;*/
    }

    }
    
}
